<form class="example-form">

  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="工單編號" disabled value="wolo9">
        </mat-form-field>

      </td>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="廠區" disabled value="F12">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="資產編號">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="計畫開始時間" type="datetime">
        </mat-form-field>
      </td>
    </tr>
  </table>
</form>